<header>
  <div class="header__content">
    <a class="header__logo">
      <img src="assets/logo-amorc.svg" alt="">
    </a>
    <nav class="header__top-nav">
      <a>Member's Login</a>
      <a>Rosicrucian Shop</a>
      <a>Publications</a>
      <a>Contact Us</a>
    </nav>
  </div>
</header>

<div class="landing-section">
  <nav class="landing-section__navigation">
    <div class="landing-section__navigation-wrapper">
      <a href="#">Home</a>
      <a href="#">About Us</a>
      <a href="#">Become a Member</a>
      <a href="#">Learning Resources</a>
      <a href="#">Local Groups</a>
      <a href="#">Attunement Sessions</a>
      <a href="#">News &amp; Events</a>
      <a href="#">FAQ</a>
    </div>
  </nav>

  <div class="landing-section__content">
    <div class="landing-section__content-wrapper">
      <h1 class="mystical-quotes">There is nothing so inspiring as the development of the spiritual
      nature</h1>
      <p>H. Spencer Lewis, Imperator of the Rosicrucian Order, AMORC. 1915</p>
      <div class="vertical-line"></div>
    </div>
  </div>
</div>

<div class="intro-section">
  <div class="intro-section__welcome">
    <h1 class="intro-section-header">Welcome to the Rosicrucian Order - AMORC</h1>
    <p class="intro-section-text">The English West Africa Administration</p>
  </div>

  <div class="intro-section__top">
     <figure>
       <img src="assets/Illumination.png" alt="">
     </figure>
     <div>
       <h1 class="intro-section-header">We care about your spiritual growth and well-being…</h1>
       <p class="intro-section-text">Our mission is to assist all seekers of truth discover spiritual wisdom that enables them to live in harmony with the creative, constructive cosmic forces for the attainment of health, happiness and peace.</p>

       <p class="intro-section-text">We teach our students timeless, universal Rosicrucian laws and principles and practical methods and techniques of application to address life’s problems.</p>
     </div>
  </div>

  <div class="intro-section__mid">
    <div>
      <h1 class="intro-section-header">…and The Awakening of your Psychic consciousness</h1>
      <p class="intro-section-text">The sustained study, investigation and practical application of these laws and principles enhances the spiritual development of the student, deepens understanding of the self, builds self-confidence that leads to self-mastery and illumination.</p>

      <p class="intro-section-text">We nurture our students to be active global citizens, dedicated to the happiness and welfare of humanity by demonstrating a spirit of service, brotherhood, understanding, cooperation, tolerance, and goodwill to all.</p>
    </div>
    <figure>
      <img src="assets/rc-park.png" alt="">
    </figure>
 </div>

</div>

<div class="video-carousel">
  <h1 class="video-carousel__header">The Rosicrucian Study programme</h1>
  <p class="video-carousel__text">Start your personal process of inner
  discovery today from one of our videos in the part of our series. The
  RosicrucianTV on YouTube brings you interesting and lifechanging videos to
  assist you in your journey to self mastery and spiritual unfoldment.</p>
  <div class="video-carousel__videos">
    <img src="assets/video-card1.png" alt="">
    <img src="assets/video-card1.png" alt="">
    <img src="assets/video-card2.png" alt="">
  </div>
</div>

<div class="reviews">
  <div class="reviews__content">
    <h2 class="reviews__content__header">“…a bridge into a new dimension of
    life…”</h2>
    <p class="reviews__content__text">The Rosicrucian Order, AMORC has provided a bridge for me into a dimension of life that I had inwardly and innately longed for but could not find in all of my scientific and religious searches.</p>
  </div>
</div>

<div class="footer">
  <div class="footer__content">
    <div class="footer__links">
      <a href="#">Privacy Policy</a>
      <a href="#">Terms and Conditions</a>
      <a href="#">Security Policy</a>
    </div>
    <div class="footer__contact">
      <a href="mailto:">info@amorc.org.ng</a>
    </div>
    <div class="footer__logo">
      <img src="assets/logo-amorc.svg" alt="">
    </div>
    <div class="footer__copyright">
      <small>&copy; 2018. The Roscicrucian Order, AMORC</small>
    </div>
  </div>
</div>
